#root {
  height: 100vh;
}

.App {
  padding: 40px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-between;
  height: calc(100% - 80px);
  background-color: gold;
}

.App__header {
  font-weight: 500;
  font-size: xx-large;
}
